<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table {
      text-align: center;
    }
  </style>
</head>

<body>

  <table border="1">
    <tr>
      <th>이름</th>
      <th>가격</th>
      <th>판매여부</th>
    </tr>
    <%for(let i = 0; i  < rows.length; i++){%>
    <tr>
      <td width="150px"><a href="/shop/shop_select?id=<%=rows[i].id%>"><%=rows[i].name%></a></td>
      <td width="150px"><%=rows[i].price%></td>
      <td width="150px"><%=(rows[i].disabled ? "판매종료" : "판매중")%>  </td>
    </tr>
    <% }%>

  </table>

</body>

</html>