<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table {
      text-align: center;
    }
  </style>
</head>

<body>

  <table border="1">
    <% for(let i = 0; i < rows.length; i++){%>
    <tr>
      <th>번호</th>
      <th>작성자</th>
      <th>제목</th>
    </tr>
    <tr>
      <td><%=rows[i].id%></td>
      <td width="100px"><%=rows[i].user_id%></td>
      <td width="150px"><a href="/shop/shop_select?id=<%=rows[i].id%>"><%=rows[i].name%></a></td>
    </tr>
    <% } %>
  </table>

</body>

</html>